@{
    ViewBag.Title = "About";
}
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Образование:</h2>
                <p class="lead">✹ 2003-2007 г.Камышлов Гимназия №3<br>✹ 2007-2014 г.Первоуральск МБОУ СОШ №32<br>✹ 2014-now г.Екатеринбург УрФУ Мат-мех</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="../img/sc.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Программирование:</h2>
                <p class="lead">В ходе обучения я начинала программировать на:<br>✹ С#<br>✹ Python<br>✹ Java<br>✹ Prolog<br>✹ Haskell<br>✹ JavaScript<br>PS: дальше навыков, которые мне давали на парах, я не уходила, а в чем-то и нужного уровня для учебы не достигла)</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="../img/pro.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Увлечения:</h2>
                <p class="lead">С детства я занималась музыкой, что было для меня действительно интересным занятием. Я закончила музыкальную школу по классу фортепиано, а так же играю на гитаре. В будущем планирую создать свою группу для реализации творческих планов.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="../img/uv.jpg" alt="">
            </div>
        </div>
    </div>
</div>
