@{
    ViewBag.Title = "Home Page";
}

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <img src="../img/main.jpg" alt="">
                    <h1>Попова Ирина</h1>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="mailto:Irishe4k@yandex.ru" class="btn btn-default btn-lg"><span>E-mail</span></a>
                        </li>
                        <li>
                            <a href="https://vk.com/kuka96" target="_blank" class="btn btn-default btn-lg"><span>Vk</span></a>
                        </li>
                        <li>
                            <a href="http://urfu.ru/ru/" target="_blank" class="btn btn-default btn-lg"><span>УрФУ</span></a>
                        </li>
                        <li>
                            <a href="http://imkn.urfu.ru" target="_blank" class="btn btn-default btn-lg"><span>Мат-мех</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>